<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artist Classification</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src='../node_modules/chart.js/dist/Chart.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
<body>

<div class="main_screen">

    <div class="cover" style="text-align: center; font-size: 12px; color: #005cbf; margin-top: 5vh;">
        <h1>Artist Classification Demo</h1>
    </div>

    <div id="canvas-holder" style="width:100%">
        <canvas id="chart" style="width: 100vw; height: 40vh; margin-top: 10vh;"></canvas>
    </div>

    <script>
        var pieData = [
            {% for item, label, colors in set %}
        {
            value: {{item}},
            label: "{{label}}",
                color : "{{colors}}"
        },
        {% endfor %}
        ];
        // get pie chart canvas
        var pieOptions = {
            animation : false,  // Edit: correction typo: from 'animated' to 'animation'
        }
        // draw pie chart
        new Chart(document.getElementById("chart").getContext("2d")).Pie(pieData, pieOptions);

        function ProcessPredictionPython() {
            $.ajax({
                type:'POST',
                url: "{{ url_for('predict')}}",
                dataType:"file",
                success: function(response){
                    console.log(response)
                    alert(response)
                }
            })
        }
        </script>

    <form method="post" enctype=multipart/form-data action="/predict" style="padding-top: 20px">
        <input type=file class="btn btn-primary btn-sm" name=file>
        <input type=submit class="btn btn-outline-info" value=Predict>
    </form>
</div>

</body>
</html>
