<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Genre Classification</title>
</head>
<body>
    <!--<script language="javascript">-->
        <!--function RefreshImage(){-->
            <!--document.pic0.src="../assets/03.png?a=" + String(Math.random()*99999999);-->
            <!--setTimeout('RefreshImage()',50);-->
        <!--}-->
    <!--</script>-->
    <!--<body onload="RefreshImage()">-->
    <!--<img name="pic0" src="03.png">-->
    <!--</body>-->

    <form method="post" action="/record">
    <input type="submit" name="Start Recording" value="Start Recording"/>
    </form>

</body>
</html>